body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #009688 15vh,
  #dddbd1 15vh, #d2dbdc 100%);
  height: 100vh;
  display: flex;
}


.left{
  width: 40%;
}

.top{
  background-color: #eaeaea;
  padding: 10px 10px;
  border-right: 1px solid #e0e0e0;
}

img {
  border-radius: 999rem;
  height: 50px;
  vertical-align: middle;
  margin-right: 5px;
}

.ico li{
  list-style: none;
  display: inline;
  color: #b1b1b1;
  font-size: 25px;
  padding-right: 15px;
}

.middle{
  background-color: #8edafc;
  height: 70px;
  padding: 10px 10px;
}
.middle img{
  margin-right: 10px;
}

#attivo{
  text-decoration: underline;
  color: #5b829c;
}

.search{
  height: 50px;
  background-color: #fafafa;
}

.lente{
  width: 100%;
  height: 90%;
  margin-left: 10px;
}

.contorno i{
  color: #b1b1b1;
  margin-left: 17px;
}

.lente input{
  height: 30px;
  width: 380px;
  /* outline:inherit; */
  margin-right: 10px;
}
input:focus{
    outline: none;
}

.contorno{
  background-color: white;
  height: 30px;
  width: 60px;
  /* border: 1px solid #b1b1b1; */
}

.contorno i{
  padding: 5px 5px;
}

.utente{
  position: relative;
}

.utente li{
  padding-top: 10px;
  list-style: none;
  border-bottom: 1px solid #fafafa;
}

.utente li:hover{
  background-color:  #fafafa;
}

/* WARNING AGGIUNGERE CONTATTI PER RENDERLO VISIBILE */
.utenti{
 overflow-y: scroll;
 height: calc(100% - 200px);
}

.utenti img{
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.chat{
  background-image: url('../img/mine.jpg');
  background-color: pink;
  height: calc(100% - 140px);
  overflow-y: scroll;
}

.input{
  background-color: #f3eeea;
  height: 70px;
  padding: 5px 5px;
  font-size: 30px;
  color: #6b7376;
}

.input input{
  height: 55px;
  width: 600px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  border: 1px solid #cfcdce;
}

.input i{
  margin-left: 20px;
  margin-right: 20px;
}

input{
  padding-left: 15px;
  border: none;
}

.bell{
  border-radius: 50%;
  height: 53px;
  background-color: white;
  margin-right: 15px;
}

.bell i{
  font-size: 20px;
  padding: 15px;
  color: #8edafc;
}

.utente span{
  position: absolute;
  right: 3%;
}

.prova{
  height: 100%;
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}
.box{
  min-height: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 51%;
}
.white{
  background-color: white;
}
.white > *{
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.green{
  float: right;
  align-items: flex-end;
  background-color: #d5f9ba;
}
.green > *{
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
